* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --Skeleton-color: #D9D9D9;
  --shape-transparent: #FFFFFF8F;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-sm: 0.75rem/170% var(--font-family);
  --text-md: 0.88rem/170% var(--font-family);
  --text: 1rem/150% var(--font-family);
  --text-lg: bold 2rem/125% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--bg-color);
}
